<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>
        $( document ).ready(function() {

            var conn;
            var command = $("#command");
            var log = $("#log");
            $("#join_div").show()
            $("#question_div").hide()
            $("#result_div").hide()

            $("#send_command").click(function(){
                conn.send(command.val());
                command.val("");
            });

            $("#join_room").click(
                    function(){
                        conn = new WebSocket("ws://{{.Host}}/join");
                        console.log("Connecting to ws")

                        conn.onopen = function() {
                            console.log("Connected");
                        };
                        conn.onclose = function(evt) {
                            console.log("Connection closed");
                        };
                        conn.onmessage = function(evt) {
                            console.log(evt.data);
                            message = JSON.parse(evt.data);

                            if(message.Cmd == "full") {
                                console.log("Command: " + message.Cmd);
                                $("#join_div").hide();
                                $("#question_div").show();
                                $("#display_questions").hide();
                                $("#result_div").hide();
                            } else if (message.Cmd == "question") {
                                console.log("Command: " + message.Cmd);
                                console.log(message.Payload);
                                $("#join_div").hide();
                                $("#question_div").hide();
                                $("#display_questions").show();
                                $("#result_div").hide();

                                var i = 0;
                                for(i = 0;i < message.Payload.length; i++) {
                                    q = message.Payload[i];
                                    console.log(message);
                                    $("#display_questions").append("<h3>" + q.Question + "<h3/>");
                                    $("#display_questions").append("<input id='question_" + i + "'>");
                                }

                                $("#display_questions").append("<input type='button' value='Submit' id='send_answers'>")
                            }
                            else if(message.Cmd == "results") {
                                console.log("Command: " + message.Cmd);
                                $("#join_div").hide();
                                $("#question_div").hide();
                                $("#display_questions").hide();
                                $("#result_div").show()
                            }
                        }
            })

            $("#ask_question").click(
                    function(){
                        var question = $("#question").val();

                        var q = JSON.stringify(
                            {
                                    "Question": question,
                                    "Answer": "",
                                    "PlayerName": "John Dow"
                            }
                        );
                        conn.send("question");
                        conn.send(q);
                    }
            )

            $("#send_answers").click(
                    function(){
                        console.log("answers was sent");
                    }
            )
        });

    </script>
</head>
<body>
<h1>Hello, {{.Username}}</h1>
<div id="join_div">
    <p>Free rooms: {{.RoomsCount}}</p>
    <input type="submit" value="Submit" id="join_room">
</div>
<div id="question_div">
    <input type="text" value="" id="question">
    <h3>Question:</h3>
    <input type="button" value="Submit" id="ask_question">
</div>
<div id="display_questions">

</div>
<div id="result_div">
</div>
</body>
</html>